@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';
.main {
    @include block-container;
    @include container;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: $fz-x-large;
}

.table {
    width: 100%;
    font-size: $fz-small;
    border-spacing: 10px;
    margin-bottom: 10px;
}


.row {
    position: relative;
    border-radius: 10px;
    z-index: 2;
    
    & th {
        text-align: start;
    }

    &>*:first-child {
        text-align: center;
    }
}

.row::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $br-form;
    border: 1px solid $color-eb;
    z-index: -1;
}

thead.row::after {
    background-color: $color-f7;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

td, th {
    padding: 10px;
}

