@import '../../scss/mixins.scss';
@import '../../scss/vars.scss';

.form {
    position: relative;
    @include block-container;
    margin: 0 auto;
    width: 443px;
    display: flex;
    flex-direction: column;
    &__button {
        padding: 12px;
        margin-bottom: $mb-form;
        color: $color-white;
        border: 1px solid $color-primary;
        border-radius: $br-form;
        background-color: $color-primary;
        font-size: $fz-x-large;
        font-weight: 700;
    }

    &__input {
        padding: 16px;
        width: 100%;
        border-radius: $br-form;
        border: 1px solid $color-d9;
        font-size: $fz-large;
        background-color: $color-fa;
        color: $color-black;
        margin-bottom: $mb-form;
        font-weight: 700;
        &::placeholder {
            color: $color-c1;
        }

    }
}

.errorDescr {
    position: absolute;
    top: 0;
    left: 25px;
    color: #F00;
}