@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$font-family: 'Inter', sans-serif;

$color-primary: #86CD89;
$color-c1: #C1C0C0;
$color-a2: #A2A3A7;
$color-b9: #B9B9B9;
$color-9d: #9D9D9D;
$color-f7: #F7F5F5;
$color-59: #595959;
$color-ec: #ECEAEA;
$color-eb: #EBEBEB;
$color-d9: #D9D9D9;
$color-fa: #fafafa;
$color-black: #000;
$color-white: #fff;

$mb-form: 20px;
$mb-list: 10px;
$br-form: 10px;

$fz-x-small: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-large: 24px;
$fz-x-large: 32px;
